# Ignore the script used to download datasets
src/download_data.py

# Ignore token files or sensitive configs
.env
config.env
# ignore virtual environment - have requirements.txt
.venv/
venv

# Ignore OS metadata files
.DS_Store
src/.DS_Store

#Ignore all .ipynb_checkpoints directories:
.ipynb_checkpoints/
tempCodeRunnerFile*.ipynb
venv/
