# Ignore the script used to download datasets
src/download_data.py

# ignore the data and other folders
data/
prompt_costestimate_v0/
prompt_costestimate_v0.numbers

# Ignore extra documents
docs/Overall_workflow/.extra_docs

# Ignore token files or sensitive configs
.env
config.env
.vscode/

# ignore virtual environment - have requirements.txt
.venv/
venv

# Ignore OS metadata files
.DS_Store
src/.DS_Store

#Ignore all .ipynb_checkpoints directories:
.ipynb_checkpoints/
tempCodeRunnerFile*.ipynb
venv/
hptrivia_game.egg-info

# Ignore temporary Word files
~$*.docx
~$*.doc
*.wbk

# Ignore python cache files
__pycache__/

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Ingnore test files cache
.pytest_cache/scripts/prompts/llm_outputs/
tempCodeRunnerFile.py

#Others (working files)
scripts/init_memory.py
scripts/update_memory.py
