# Ignore the script used to download datasets
src/download_data.py

# ignore llm cost estimate folders
prompt_costestimate_v0/
prompt_costestimate_v0.numbers

# Data directory rules:
# 1. Default: Ignore everything in data
data/*
# 2. Exception: Allow DVC files anywhere (recursive)
!data/**/*.dvc
!data/.gitignore
!data/README.md
# 3. Exception: Allow Pipeline Logs folder
!data/07_pipeline_logs/

# Ignore extra documents
docs/archive/.extra_docs
docs/design_draft_notes.md
notebooks/02_research/03_aces_generating_new_questions/.backup
notebooks/02_research/03_aces_generating_new_questions/.drafts
scripts/research/question_generation/llm_outputs/.backups

# Ignore token files or sensitive configs
.env
config.env
.vscode/

# ignore virtual environment - have requirements.txt
.venv/
venv

# Ignore OS metadata files
.DS_Store
src/.DS_Store

#Ignore all .ipynb_checkpoints directories:
.ipynb_checkpoints/
tempCodeRunnerFile*.ipynb
venv/
hptrivia_game.egg-info

# Ignore temporary Word files
~$*.docx
~$*.doc
*.wbk

# Ignore python cache files
__pycache__/

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Ingnore test files cache
.pytest_cache/scripts/prompts/llm_outputs/
tempCodeRunnerFile.py

#Others (working files)
scripts/init_memory.py
scripts/update_memory.py
scripts/system_memory_v0.md
scripts/system_memory_v1.md

scripts/research/data_lifecycle_contract.json
docs/designdoc_interview_questions.md
docs/designdoc_interview_reference_answers.md

notebooks/02_research/0X-NER_implementation.ipynb
notebooks/02_research/v0
